# GUI Application

In [6]:
print("Name : Lakshya Singh Chauhan")
print("Creation a GUI base application for data data visualization")

Name : Lakshya Singh Chauhan
Creation a GUI base application for data data visualization

In [7]:
#Done in previous class
from ipywidgets import widgets
from IPython.display import display, clear_output
import pandas as pd
from tkinter import Tk, filedialog
import matplotlib.pyplot as plt
graph_type = ['Choose one.. ','line','bar']
operation =['choose','mean','max','min','sum','count']
df = ''
new_df = ''
def select_files(b):
    clear_output()
    global df
    root = Tk()
    root.withdraw() 
    file_name = filedialog.askopenfilename()
    df = pd.read_csv(file_name)
    print(file_name)
    df.replace( '', float('nan') ,inplace=True)
    df.replace( '0', float('nan') ,inplace=True)
    df = df.dropna()
    display(df)
    groupby_col_widget = widgets.Dropdown(options=df.columns)
    operation_col_widget = widgets.Dropdown(options = df.columns)
    operation_widget = widgets.Dropdown(options = operation)
    groupby_int = widgets.interactive(groupby_dataframe, groupby_column=groupby_col_widget, operation_column= operation_col_widget, operation = operation_widget)
    display(groupby_int)
def get_widget():
    global df
    global new_df
    xlabel_widget = widgets.Dropdown(options = new_df.columns)
    ylabel_widget = widgets.Dropdown(options = new_df.columns)
    graph_widget = widgets.Dropdown(options = graph_type)
    graph = widgets.interactive(display_plot, xaxis=xlabel_widget, yaxis= ylabel_widget, graph_type = graph_widget)
    display(graph)
fileselect = widgets.Button(description="File select")
fileselect.on_click(select_files)
display(fileselect)
#End of what was done in previous class
# Code for groupby_dataframe function
def groupby_dataframe(groupby_column, operation_column, operation):
    global df
    global new_df
    try:
        print(df[operation_column].dtypes)
        if operation == "mean":
            if df[operation_column].dtypes != "float" or df[operation_column].dtypes != "int":
                df[operation_column] = df[operation_column].astype(float)
            new_df = df.groupby(groupby_column)[operation_column].mean().reset_index()
            display(new_df)
        elif operation == "max":
            new_df = df.groupby(groupby_column)[operation_column].max().reset_index()
            display(new_df)
        elif operation == "min":
            new_df = df.groupby(groupby_column)[operation_column].min().reset_index()
            display(new_df)
        elif operation == "sum":
            if df[operation_column].dtypes != "float" or df[operation_column].dtypes != "int":
                df[operation_column] = df[operation_column].astype(float)
            new_df = df.groupby(groupby_column)[operation_column].sum().reset_index()
            display(new_df)
        elif operation == "count":
            new_df = df.groupby(groupby_column)[operation_column].count().reset_index()
            display(new_df)
        else:
            print("Choose the correct option (Spoiler: Any answer does it except choose)")
        get_widget()
    except:
        clear_output()
        print("Get some better data from the market")

# pre defined code
def display_plot(xaxis, yaxis, graph_type):
    global new_df
    if(graph_type == 'line'):
        plt.subplots(figsize=(19,8))
        plt.plot(new_df[xaxis], new_df[yaxis], linewidth=3.0)
        plt.xlabel(xaxis)
        plt.xticks(rotation='vertical')
        plt.ylabel(yaxis)
        plt.show()
    elif(graph_type == 'bar'):
        plt.subplots(figsize=(19,8))
        plt.bar(new_df[xaxis], new_df[yaxis], color=['red', 'green','blue','yellow','pink'])
        plt.xlabel(xaxis)
        plt.xticks(rotation='vertical')
        plt.ylabel(yaxis)
        plt.show()
    else:
        print("Choose valid graph")
#pre defined code end

D:/New coding folder/Python projects/C201-Student/Titanic.csv

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

interactive(children=(Dropdown(description='groupby_column', options=('PassengerId', 'Survived', 'Pclass', 'Naâ€¦